body
{   /*height: 50%;*/
	/*width:50%;*/
	background-image:url("gold.png");
	background-attachment:scroll;
}
p /*balise de paragraphe. Entre les accolades on précise toutes les propriétés nécessaires au style des paragraphes*/
{
	font-size : 25px; /*taille du texte*/
	background-color:black;/* couleur du fond*/
	color:silver;/*couleur de la police*/
	/* couleurs possibles : white, silver, gray, black, red, maroon, lime, green, yellow, olive, blue, navy, fuchsia, purple, aqua et teal*/
}
img
{
	width:50%;
	height:50%;
}
.basic
{
	font-size:10px;
	color:yellow;
}
.formatdiv
{
	width:40%;
	height:30%;
	margin-top:100px;
	margin-left:600px;
	font-family:Arial;
	font-size:25px;
	background-color:yellow;
	text-align:center;
	border:4px black solid
}
.formatpara
{
	width:50%;
	height:40%;
	border:2px red solid;
	font-family:Arial;
	font-size:20px;
	color:red;
	background-color:white;	
}
.images
{
}
.illustration
{
	width:40%;
	margin-left:400px;
	text-align:center;
}
h1,h3
{
	background-color:green;
	text-align:center;
	font-family:Arial;
	text-decoration:blink;
	width:100%;
	color:white;
}
h2,h4
{
	width:100%;
	text-align:center;
	background-color:red;
	font-family:Arial;
	text-decoration:blink;
	color:black;
}
h5
{
	width:100%;
	text-align:center;
	background-color:red;
	font-family:Wingdings;
	text-decoration:blink;
	color:black;
}
.lien
{
	top:100px;
	margin: auto;
	font-family:Goudy Stout;
	font-size:25px;
}


